/*@import "Menu2";*/

html {
    background: linear-gradient(to bottom right, black, rgb(182, 5, 182));
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:center center;
}

/*-------header-----*/

li {
    list-style: none;
  
}

a { 
    color: white;
    text-decoration: none;
}

.dropdown:hover > .label {
    border-color: transparent;
    background:linear-gradient(black,rgb(241, 23, 241));
    color: white;
}

.dropdown:hover > .list {
    max-height: 100vh;
    transition: max-height 0.7s ease-in;
    border: 1px solid rgb(0, 0, 0);
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown {
    position: relative;
    width: 5em;
}
.dropdown > .label {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    padding:7%;
    border:1px solid white;
    border-radius: 0.5em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.dropdown > .list {
    font-weight: bold;
    position: absolute;
    top: 100%;
    width: 55%;
    max-height:0;
    overflow: hidden;
    padding: 0 20px 0 0 ;
    border-radius: 4px;
    list-style: none;
    transition: max-width 0.35s ease-out;
}

.dropdown > .dropdown-menu {
    display: none;
    height: 2px;
    opacity: 0;
}

.dropdown:hover > .home {
    border-color: transparent;
    background:linear-gradient(black,rgb(241, 23, 241));
    color: white;
}

.dropdown > .home {
    display: flex;
    justify-content: space-around;
    width: 70%;
    padding:7%;
    border:0.5px solid white;
    border-radius: 0.5em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in;
    
}

.list {
    background: rgb(51, 20, 51);
    transition: all 0.3s ease-in;
    color: black;
}

.top-menu {
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
}

.top-dropdown {
   display: flex;
}

.top-dropdown {
   
    padding: 0 1em 0 0.5em;
}


.logo-menu {
    cursor: pointer;
}

/*ul.list a::after {
    content:"";
    height: 3.5px;
    width:0;
    background: red;
    position: absolute;
    top:1em;
    transition: all 0.3s ease-in-out;
}

ul.list a:hover::after {
    width: 0.9em;
    transform: translateX(60%);
}*/
/*--------End Header-------*/
/*-----body------*/
@media screen and (min-width:2024px) {
    .container {
        position: relative;
        left: 44vh;
        top: 37vh;
    }

    div.imgBox {
        position: absolute;
        width: 40%;
    }
}

@media screen and (min-width:1450px) and (max-width:1920px) {
    .container {
        position: relative;
        left: 25vh;
        top:35vh;
    }

    div.imgBox {
        position: absolute;
        width:35%;
        left: 4vh;
    }
}

@media  screen and (min-width:1025px) and (max-width:1280px) {
    div.imgBox {
        position: absolute;
        width: 40%;
        height: 45%;
    }

    .container {
        position: relative;
        top:27vh;
        left: 20vh;
    }

}

@media screen and (max-width:1024px) {
    .container {
        position: relative;
        top:25vh;
        left: 50px;   
    }

    .item:nth-child(2){
        position: relative;
        top: 20vh;
        width: 100%;
    }

    div.imgBox {
        position: absolute;
        margin-top:5vh;
        height: 50%;
        width: 45%;
        left: -1vh;
    }
    #footer-icon {
        position: relative;
        top:50px;
    }
}

#font-p1 {
    animation: click 1.5s ease-in-out 1 forwards;
    transition: 0.5s;
    position: absolute;
    z-index: 1;
}

#font-p2 {
    animation: click 1s ease-in-out 1 forwards;
    transition: 0.5s;
    position: absolute;
    z-index: 1;
}

#font-p3 {
    animation: click 0.5s ease-in-out 1 forwards;
    transition: 0.5s;
    position: absolute;
    z-index: 1;
}

#font-p4 {
    animation: click 0.2s ease-in-out 1 forwards;
    transition: 0.5s;
    position: absolute;
    z-index: 1;
  
}

.item {
    width: 200px;
    height: 270px;
    display: block;
    /*border: solid;*/
    z-index: 1;
}

.item:nth-child(1) {
    top: 0;
    bottom: 0;
    width: 100%;
    box-shadow: none;
}

.item:nth-child(2) {
    opacity: 1;
}

.item:nth-child(3){
    opacity: 0;
    display: none;
   /* margin-top: calc(30% + 440px);*/
}

.item:nth-child(4){
    opacity:0;
    display: none;
    /*margin-top: calc(30% + 660px);*/
}

.content {
    top: 0;
    /*transform: translate(0,-50%);*/
    opacity: 0;
    animation: click 1.7s ease-in-out 1 forwards;
}

.item:nth-child(1)>.content {
    display: block;
    z-index: 11111;
}


@keyframes click {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.font-h1 {
    writing-mode: horizontal-tb;
    font-weight: bold;
    font-size: xx-large;
    margin-left:2em;
    text-shadow: rgb(7, 149, 243) 1px 0 10px;
}

.font-h2 {
    writing-mode: horizontal-tb;
    font-weight: bold;
    font-size: xx-large;
    margin-left:2em;
    text-shadow: rgb(226, 0, 196) 1px 0 10px;
}

.font-h3 {
    writing-mode: horizontal-tb;
    font-weight: bold;
    font-size: xx-large;
    margin-left:2em;
    text-shadow: rgb(252, 13, 13) 1px 0 10px;
}

.font-h4 {
   writing-mode: horizontal-tb;
    font-weight: bold;
    font-size: xx-large;
    margin-left:2em;
    text-shadow: rgb(155, 6, 255) 1px 0 10px;
}

.font-p {
    font-size: large;
    margin-left: 70px ;
    text-shadow: rgb(12, 12, 236) 1px 0 10px;
    border-radius: 1em;
    margin-right: 2em;
}



.font-h2-p2 {
    font-size: large;
    margin-left: 70px ;
    font-family:'Lato' ;
    text-shadow: rgb(226, 0, 196) 1px 0 10px;
    border-radius: 1em;
    margin-right: 2em;
}



.font-h3-p3 {
    font-size: large;
    margin-left: 70px ;
    font-family:'Lato' ;
    text-shadow: rgb(252, 13, 13) 1px 0 10px;
    border-radius: 1em;
    margin-right: 2em;
}



.font-h4-p4 {
    font-size: large;
    margin-left: 70px ;
    font-family:'Lato' ;
    text-shadow: rgb(155, 6, 255) 1px 0 10px;
    border-radius: 1em;
    margin-right: 2em;
}

section {
    position: relative;
    height: 50vh;
    width: 66%;
    min-height: 35vh;
    padding-top:5%;
    transition: 1s;
}

.container {
    margin-left:350px;
    margin-top:-20%;
    position: relative;
    text-align: center;
    width: 75%;
    height: 100%;
}

.imgBox {
    width: 50%;
    height:70%;
    padding-top: 0;
    top:5vh;
    padding-left: 2em;
    margin: 0 15vh;
    position: relative;
    animation: bounce 4.5s ease-in-out infinite ;
    cursor: pointer;
    /*border: solid;*/
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}

#img-cream {
    float: left;
    list-style: none;
    margin: 0 -5px;
    cursor: pointer;
    transform: scale(0.6);
    padding: 0  0.5em;

    border: 0 solid;
    box-shadow: inset 0 0 20px pink;
    border-radius: 1em;
    outline-color: rgb(252, 11, 11);
    outline: 1px solid;
    outline-offset: 0;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    background-color: rgb(94, 25, 94);
}

#img-cream1:hover, #img-cream2:hover, .img-cream3:hover {
    /*transform: translateY(-10px); // Con tro hinh nhay len*/
    transform: rotate(15deg);
}

li.active {
    position: relative;
    z-index: -1;
}

#action {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1em;
    background: rgb(255, 181, 193);
    width: 100%;
    height: 23%;
    z-index: -2;
    transition: 1s;
}

#action:before {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(18, 92, 252);
    border-radius: 1em;
    filter:blur(30px);
    transition: 1s;
}

div li:nth-child(2).active~#action:before {
    background-color: rgb(248, 137, 206);
}

div li:nth-child(3).active~#action:before {
    background-color: rgb(255, 0, 0);
}

div li:nth-child(4).active~#action:before {
    background-color:rgb(183, 0, 255);
}

#img-cream:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgb(234, 6, 255),  0 0 20px #00bef8;
    outline-offset: 15px;
    text-shadow: 1px 1px 2px rgb(233, 9, 46);
}

#img-cream1 {
    max-width: 55px;
    margin-bottom: 1em;
}

#img-cream2 {
    max-width: 50px;
    margin-bottom: 1em;
}

.img-cream3 {
    max-width: 55px;
    margin-bottom:0;
}

.thump {
    position: absolute;
    bottom:1em;
    transform: translate(-50%);
    left: 100vh;
}

.thump li:hover {
    transform: translateX(-15px);
}

.thump, .img-cream {
    max-width: 4.6em;
}


/*----------Footer--------*/
/*.footer-ul, ul.footer-ul li:hover::after {
    opacity:0.5;
}

.footer-ul, ul.footer-ul li, .ion-icon {
    color: #777;
    font-size: 1.5em;
    transition: 0.5s;
    transition-delay: 0.25s;
}

.footer-ul, ul.footer-ul li:hover, .ion-icon {
    transform: scale(0);
    color: #fff;
    transition-delay: 0s;
}

.footer-ul, ul.footer-ul li, #footer-icon {
    position: absolute;
}

.title {
    color: #FFF;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transform: scale(0);
    transition-delay:0s;
}

.footer-ul, ul.footer-ul li:hover, .title {
    transform: scale(1);
}

.footer-ul {
    position: relative;
    display: flex;
    gap: 1em;
}

ul.footer-ul li {
    justify-content: space-evenly;
    position: relative;
    width: 1.5em;
    height: 1em;
    border-radius: 50%;
    background: #000;
    box-shadow: 0px 5px 20px rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 1.5s;
}

.footer-ul, ul.footer-ul li:hover {
    width: 180px;
    box-shadow: 0 10px 25px rgb(0, 0, 0);
}

.footer-ul, ul.footer-ul li::before {
    content: "";
    position: absolute;
    border-radius: 50px;
    inset: 0;
    border-radius: 50px;
    background: linear-gradient(45deg, var (--a), var(--b));
    opacity:0;
    transition: 0.5s;
}*/
.title {
    display: flex;
    justify-content: end;
}


.ion-icon {
    margin-right: 1em;
    border: 0 solid;
    box-shadow: inset 0 0 5px rgb(248, 248, 248);
    border-radius: 50% 50%;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.ion-icon:hover {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgb(59, 241, 241), 0 0 20px rgb(22, 222, 248);
    outline-offset: 15px;
}
